

.form-control {
    font-size: 1.4rem;
}


.card {
    background-color: rgb(92, 110, 128);
}


.text{
    color: white;
  
}
tr{
    border: hidden;
}



td {
    color: white;
    font-size: larger;
}


.btn-danger {
    float: right;
  }
  